/* Estilos generales */
body {
  font-family: Arial, sans-serif; /* Define la fuente predeterminada para el cuerpo del documento */
  margin: 0; /* Elimina los márgenes predeterminados del cuerpo */
  padding: 0; /* Elimina el relleno predeterminado del cuerpo */
  
  ;}

